# Python bytecode
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Virtual environments
.venv/
venv/
env/
ENV/

# Test / coverage
.pytest_cache/
.coverage

# Mypy
.mypy_cache/

# Editor/IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Package artifacts
.eggs/
*.egg
